* {
    Box-sizing:  border-box;
    font-family:'Raleway', sans-serif;
    font-weight: lighter;
}



.headerbox {
    height: 100vh;
    background-image: url("beautiful-cold-dawn-547115.jpg");
    width: 100%;
    background-size: cover;


}

.applicationimages1, .applicationimages2, .descriptionbox {
    float: left;
    width: 33.33%;
    height: 100%;
    margin: auto;

}

.logoleft {
    width: 23%;
    height: auto;
    padding: 3%;
    float: left;
}

.logoright {
    width: 25%;
    height: auto;
    padding: 3%;
    float: right;
}


.descriptionbox {
    text-align: center;
    position: relative;


}



.descrip-holder {
    position: absolute;
    width: 100%;
    height: 50%;
    margin-top: 10%;
    margin-bottom: 50%;


}

.name {
    font-size: 3vw;
    color: #CCFBFE;
    font-weight: initial;
    font-variant: small-caps;
    border-style: solid;
    border-width: 0 0 0.1rem 0;
    padding: 0 0 1rem 0;

}

.title {
    font-size: 2vw;
    color: #CCFBFE;
    font-weight: lighter;

}

a:link, a:visited {
    text-decoration: none;

}

.downcontainer {
    margin: auto;
    width: 40%;
}


.downlink {
    padding: 0.8rem;
    border-style: solid;
    color: #CCFBFE;
}

.downlink:hover {
    color: #fff;
    -webkit-transition: 1s;
    transition: 1s;

}

.stickynav {
    width: 100%;
    height: 40px;
    background-color: #B5C7FF;
    position: sticky;
    top: 0;
}

.navlink {
    text-decoration: none;
    font-size: 1.3rem;
    margin: 0 2% 0 0;
    color: #CCFBFE;
}

.navlink:hover {
    color: #fff;
    transition: 1s;
}


.linkcontainer {
    width: 55%;
    font-weight: lighter;
    margin: auto;
    position: relative;
    top: 25%;

}



.portcontainer {
    height: 150vh;
}


.aboutme {
    width: 20%;
    float: left;
    background-color: antiquewhite;
}

.portfolio {
    width: 80%;
    float: left;

}

.aboutme, .portfolio {
    height: 720px;
}


.boxholder {
    height: 100%;
    width: 99%;
    margin: auto;

}

.picturelink {
    width: 30%;
    height: 30%;
    float: left;
    margin: 2.5% 0 0 2.5%
}

.front-picture {
    background-color: #c282ff;
    width: 100%;
    height: 100%;
}

.front-picture:hover {
    display: none   ;
    -webkit-transition: 1s;
    -moz-transition:  1s;
    -o-transition:  1s;
    transition:  56s;
}

.project {
    font-size: 4vw;
    color: #c282ff;
    font-variant: small-caps;
    font-weight: lighter;
    width: 50%;
    margin: 2.5% auto 0 auto;
    text-align: center;
}

.contactme {
    width: 100%;
    height: 720px;
    background-color: powderblue;
}

.online {
    height: 200px;
    background-color: azure;
}