* {
    Box-sizing:  border-box;
}


.headerbox {
    height: 720px;
}

.applicationimages1, .applicationimages2, .descriptionbox {
    float: left;
    width: 33.33%;
    height: 100%;
    margin: auto;

}

.descriptionbox {
    text-align: center;
    
}

.h1 {

}

.applicationimages2, .applicationimages1 {
    background-color: aqua;
}

.downlink {
    display: block;
    margin: auto;
}

.stickynav {
    width: 100%;
    height: 60px;
    background-color: darkmagenta;
}

.portcontainer {
    height: 720px;
}


.aboutme {
    width: 20%;
    float: left;
    background-color: antiquewhite;
}

.portfolio {
    width: 80%;
    float: left;
    background-color: bisque;
}

.aboutme, .portfolio {
    height: 100%
}